/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import "semantic-ui";

:root {
	--dur: 1s;
	--timing: ease;
}

$bg-color: #eee;
$card-bg: #fff;

body {
	background-color: $bg-color;
	font: 18px/1.5 "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a {
	color: #000;
}

a:hover, a:active, a:focus {
	background: none;
	color: #000;
	text-decoration: underline;
}

p {
	font-size: 18px;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 90%;
}


// make header responsive
@media (min-width: 960px) {
	.container {
		margin: 0 auto;
		position: relative;
		width: 960px;
	}
}

//  header of wave
.main-header {
	background: #959ce9 radial-gradient(circle at 50% 300%, #959ce9 12.18%,#5862dd 74.53%);
	height: 210px;
	padding-top: 20px;
	padding-bottom: 80px; /* equal to wave SVG height */
	position: relative;
	text-align: center;
}

// position
.nav {
	color: #fff;
	position: absolute;
	top: 0;
	left: 15px;
}

// login button
.nav a {
	color: #fff;
}

.nav a:hover {
	color: #000;
}


// login icon
.nav a:hover i {
	color: #fff;
}

// logo
.logo {
	height: 70px;
}

.logo .emblem-bg {
	fill: #0063c4;
}

.logo .emblem-icon {
	fill: #fff;
}

.logo .text {
	fill: #fff;
}

// wave
.wave {
	position: absolute;
	bottom: 0;
	fill: $bg-color; /* equal to background color */
	left: 0;
	right: 0;
}

// search bar 
.search-bar {
	box-shadow: 0 10px 30px -10px rgba(#333, 0.4);
	position: absolute;
	width: 90%;
	top: 120px;
	left: 0;
	right: 0;
}

// make search bar responsive
@media (min-width: 400px) {
	.search-bar {
		margin: 0 auto;
		width: 400px;
	}
}

// scrolling header
.scroll .container {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 100;
}

.scroll .container::before {
	content: "";
	background: #959ce9 radial-gradient(circle at 50% 300%, #959ce9 12.18%, #5862dd 74.53%);
	height: 110px;
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.scroll .logo {
	margin-left: -280px;
	position: relative;
}

.scroll .logo .text path {
	d: path("");
}

.scroll + .search-bar {
	position: fixed;
	top: 36px;
	z-index: 100;
}

// drop-down bar 
.dropdown{
	width: 300px;
	margin: 0 auto;
}
//accordions 

.center {
	text-align: center;
	padding-bottom: 25px;
}

.center .ui.active.button {
	background-color: #5862dd;
	// background-image: radial-gradient(circle at 0% -50%, #959ce9 12.18%,#5862dd 74.53%);
	box-shadow: 0px 0px 0px 1px transparent inset;
	color: #fff;
}

.accordions {
	list-style: none;
	padding-left: 0;
}

.accordion {
	background: $card-bg;
	border-top: 4px solid #999;
	box-shadow: 0 10px 30px -10px rgba(#333, 0.4);
	font-size: 18px;
	padding: 15px;
	position: relative;
	margin-bottom: 40px;
	
	.btn-trash:hover .oscar .trash, .btn-trash:hover .oscar .lid {
		fill: #5862dd;
		stroke: #5862dd;
	}
	
	i:hover {
		color: #5862dd;
	}
}

.accordion.active {
	border-top: 4px solid #5862dd;
}

.accordion .controls {
	display: flex;
	align-items: flex-end;
	line-height: 18px;
	position: absolute;
	padding: 0.5em 0;
	right: 15px;
}

.accordion .controls i {
	cursor: pointer;
}

.accordion .controls i.btn-trash {
	margin-bottom: -1px;
	margin-right: 0.4rem;
}

.accordion .likes span {
	margin: 0em 0.4rem 0em 0em;
}

.accordion .title h2 {
	display: inline;
	margin: 0;
}

// oscar trash can
.oscar {
	width: 17.75px;
	vertical-align: bottom;
}

.oscar .brow {
	fill: none;
}

.oscar .lid {
	stroke: #212121;
	stroke-width: 2px;
}

.oscar .trash {
	fill: #212121;
}

.oscar .trash line {
	stroke: #fff;
	stroke-width: 2px;
}

.oscar .head, .hair, .hand {
	fill: #2cd14c;
}

.oscar .mouth {
	fill: #120505;
}

.oscar .tongue {
	fill: #fa3333;
}

.oscar .eye {
	fill: #fff;
}

.oscar .pupil {
	fill: #0a0101;
}

.oscar .brow {
	stroke: #933d3d;
}

.oscar .hair {
	transform-origin: center;
	transform-box: fill-box;
	transform: scaleX(0.8);
	transition: transform var(--dur) var(--timing);
}

.oscar:hover .hair {
	transform: scaleX(1);
}

.oscar .head-wrap {
	position: relative;
	transform: translateY(14.4px);
	transition: transform var(--dur) var(--timing);
}

.oscar:hover .head-wrap {
	position: relative;
	transform: translateY(0);
}

.oscar .hand.left {
	transform-origin: bottom left;
	transform-box: fill-box;
	transform: rotateZ(-90deg) translateX(-7px);
	transition: transform var(--dur) var(--timing);
}

.oscar:hover .hand.left {
	transform: rotateZ(0) translateX(0);
}

.oscar .hand.right {
	transform-origin: bottom right;
	transform-box: fill-box;
	transform: rotateZ(90deg) translateX(7px);
	transition: transform var(--dur) var(--timing);
}

.oscar:hover .hand.right {
	transform: rotateZ(0) translateX(0);
}

// thumbsup/thumbsdown
.animating {
	position: relative;
}

.animating.thumbsup::after, .animating.thumbsdown::after {
	font-size: 100px;
	font-weight: 900;
	pointer-events: none;
	position: absolute;
	opacity: 0;
	
	right: -50px;
}

.animating.thumbsup::after {
	animation: wobble-up 1s ease-out;
	color: #0063c4;
	content: "\f164";
	font-family: 'Icons'; // solid version of icon
}

.animating.thumbsdown::after {
	animation: wobble-down 1s ease-in;
	color: #db2828;
	content: "\f165";
	font-family: 'Icons'; // solid version of icon
}

@keyframes wobble-up {
	/* wobble the icon */
	0% {
		transform: rotateZ(15deg)
	}
	50% {
		transform: rotateZ(-15deg)
	}
	100% {
		transform: rotateZ(15deg)
	}
	
	/* make the icon invisible while animating upwards */
	0% {
		opacity: 1;
		top: -75px;
	}
	
	100% {
		opacity: 0;
		top: -175px;
	}
}

@keyframes wobble-down {
	/* wobble the icon */
	0% {
		transform: rotateZ(-15deg)
	}
	50% {
		transform: rotateZ(15deg)
	}
	100% {
		transform: rotateZ(-15deg)
	}
	
	/* make the icon invisible while animating downwards */
	0% {
		opacity: 1;
		top: -175px;
	}
	
	100% {
		opacity: 0;
		top: -75px;
	}
}

// markdown
#brace-editor {
	height: 256px !important;
	width: 100% !important;
}
//comments


// add card

.addcard {
	position:fixed;
	bottom: 50px;
	right: 60px;
	font-size: 1.5em !important;
	cursor: pointer;
}

i.inverted.addcard.circular.icon:hover {
	background-color: #5862dd !important;
}

// login page
.login, .signin{
	box-shadow: 0 10px 30px -10px rgba(#333, 0.4);
	position: absolute;
	left: 50%;
	top: 50%;	
	transform: translate(-50%,-50%);
	width: 500px;
	text-align: center;
	background: #959ce9 radial-gradient( #959ce9 12.18%,#5862dd 74.53%);
	position: relative;
	border-radius: 17px;
	padding-bottom:12px;
	padding-top: 12px;
	border-radius: 5px;
}

.login a, .signin a {
	color: #fff;
}

.actions input {
	border-radius: 10px;
}

.login label, .signin label {
	display: inline;
	vertical-align: middle;
}

input[type="text"], input[type="email"], input[type="search"], input[type="password"]{
	padding: 10px 7px;
	width: 300px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 10px 30px -12px #000;
}

.signin_line{
	padding-bottom: 5px;
}

.signin_line::after {
	content: "";
	display: block;
	border-bottom: 2px solid black;
	margin: 0 auto;
	width: 50%;
	padding-bottom: 5px;
}

.main-footer {
	border-top: 4px solid #777;
	margin: 0 auto;
	padding-bottom: 5px;
	text-align: center;
	background: #aaa;
}

.main-footer .container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.rhomb {
	height: 100px;
	.a{
		fill: #ffecb8;
	}

	.b{
		fill: #111;
	}

	.c {
		fill: #0aff78;
		stroke: #111;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 0.5px;
	}
}

.copyright {
	font-size: 16px;
	padding-bottom: 10px;
	color: white;
}