/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "semantic-ui";

.container {
	margin: 0 auto;
	position: relative;
	width: 100%;
}

// make header responsive
@media (min-width: 960px) {
	.container {
		margin: 0 auto;
		position: relative;
		width: 960px;
	}
}

//  header of wave
.main-header {
	background: #959ce9 radial-gradient(circle at 50% 300%, #959ce9 12.18%,#5862dd 74.53%);
	height: 210px;
	padding-top: 20px;
	padding-bottom: 80px; /* equal to wave SVG height */
	position: relative;
	text-align: center;
}

// position
.nav {
	color: #fff;
	position: absolute;
	top: 0;
	left: 15px;
}

// login button
.nav a {
	color: #fff;
}

.nav a:hover {
	background: none;
	color: #000;
}

// login icon
.nav a:hover i {
	color: #fff;
}

// logo
.logo {
	height: 70px;
}

.logo .emblem-bg {
	fill: #0063c4;
}

.logo .emblem-icon {
	fill: #fff;
}

.logo .text {
	fill: #fff;
}

// wave
.wave {
	position: absolute;
	bottom: 0;
	fill: #fff; /* equal to background color */
	left: 0;
	right: 0;
}

// search bar 
.search-bar {
	padding: 0 15px;
	position: absolute;
	width: 100%;
	top: 120px;
	left: 0;
	right: 0;
}

// make search bar responsive
@media (min-width: 400px) {
	.search-bar {
		margin: 0 auto;
		padding: 0;
		width: 400px;
	}
}

// scrolling header
.scroll .container {
	position: fixed;
	left: 0;
	right: 0;
}

.scroll .container::before {
	content: "";
	background: #959ce9 radial-gradient(circle at 50% 300%, #959ce9 12.18%, #5862dd 74.53%);
	height: 110px;
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.scroll .logo {
	margin-left: -280px;
	position: relative;
}

.scroll .logo .text path {
	d: path("");
}

.scroll + .search-bar {
	position: fixed;
	top: 36px;
}

// drop-down bar 
.dropdown{
width: 300px;
margin: 0 auto;
}